@media (max-width: 1028px) {
  .top-cloud {
    display: none;
  }
  
   .middle-cloud {
    display: none;
  }
  
   .bottom-cloud {
    display: none;
  }
  
  .intro {
  font-size: 12px;
  }
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #0881a3;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin-top: 50px auto 0 auto;
}

h2 {
  color: #0881a3;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #ec4646;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

hr {
  border: dotted #ffd6a4 6px;
  border-bottom: none;
  width: 20%;
  margin: 100px auto;
}

a {
  color: #fffdfb;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #ffd6a4;
}

.top-container {
  background-color: #f1f6f9;
  padding-top: 100px;
}

.middle-container {
  background-color: #fffdfb;
  margin: 0;
  padding: 50px;
}

.bottom-container {
  background-color: #0881a3;
  padding: 50px 0 20px;
}

.skill-row {
  width: 70%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: center;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-msg {
  width: 50%;
  margin: 40px auto 60px;
}

.copyright {
  color: #fde9df;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  width: 10rem;
  position: absolute;
  right: 300px;
  /*top: 150px;*/
}

.middle-cloud {
  width: 10rem;
  position: absolute;
  right: 150px;
  /*top: 450px;*/
}

.bottom-cloud {
  width: 10rem;
  position: absolute;
  left: 250px;
  /*bottom: 200px;*/
}

.page-img {
  width: 35rem;
}

.skills-img {
  width: 18rem;
  float: left;
  margin-right: 20px;
}

.code-img {
  width: 12rem;
  float: right;
  margin-left: 20px;
}

.btn {
  background: #0881a3;
  background-image: -webkit-linear-gradient(top, #0881a3, #54c8e8);
  background-image: -moz-linear-gradient(top, #0881a3, #54c8e8);
  background-image: -ms-linear-gradient(top, #0881a3, #54c8e8);
  background-image: -o-linear-gradient(top, #0881a3, #54c8e8);
  background-image: linear-gradient(to bottom, #0881a3, #54c8e8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3ebede;
  background-image: -webkit-linear-gradient(top, #3ebede, #8bc9d9);
  background-image: -moz-linear-gradient(top, #3ebede, #8bc9d9);
  background-image: -ms-linear-gradient(top, #3ebede, #8bc9d9);
  background-image: -o-linear-gradient(top, #3ebede, #8bc9d9);
  background-image: linear-gradient(to bottom, #3ebede, #8bc9d9);
  text-decoration: none;
}
